# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
alabaster
alembic
altair
apache-airflow
argparse
asn1crypto
atari-py
attrs
audioread
av
aws-xray-sdk
awscli
babel
backcall
backports
backports.functools_lru_cache
backports.weakref
bcrypt
beautifulsoup4
blas
bleach
blinker
bokeh
boto
boto3
botocore
box2d
box2d-kengz
bresenham
bz2file
bzip2
ca-certificates
cachetools
cairo
cassandra-driver
certifi
cffi
cgroupspy
chardet
clangdev
click
cling
cling-patches
cloudpickle
colorama
colour
conda
conda-env
configparser
cookies
cppzmq
croniter
cryptography
cryptopp
cudatoolkit
cudnn
curl
cycler
cython
dask-core
dbus
decorator
defusedxml
dill
docker
docker-pycreds
docutils
dronekit
ecdsa
entrypoints
enum34
et_xmlfile
eventlet
expat
fastcache
ffmpeg
flask
flask-admin
flask-appbuilder
flask-babel
flask-bcrypt
flask-caching
flask-login
flask-openid
flask-socketio
flask-sqlalchemy
flask-swagger
flask-wtf
fontconfig
freetype
freezegun
funcsigs
future
gcc-7
gensim
geos
gettext
gevent
giflib
gitdb2
gitpython
glfw
glib
gmp
google-auth
greenlet
gst-plugins-base
gstreamer
gunicorn
gym
h5py
harfbuzz
hdf5
heapdict
hmsclient
html2text
html5lib
icu
idna
imageio
imagesize
inflection
intel-openmp
ipykernel
ipython
ipython-sql
ipython_genutils
ipywidgets
isl
iso8601
itsdangerous
jasper
jdc
jdcal
jedi
jieba
jinja2
jira
jmespath
joblib
jpeg
json-merge-patch
jsondiff
jsonpickle
jsonschema
jupyter_client
jupyter_core
jupyterlab
jupyterlab_server
keras
kubernetes
libedit
libffi
libgcc
libgcc-7
libgcc-ng
libgfortran
libgfortran-ng
libgpuarray
libiconv
libopenblas
libpng
libpq
librosa
libsodium
libstdcxx-ng
libtiff
libtorch
libwebp
libxcb
libxml2
llvmdev
llvmlite
locket
lockfile
lxml
mako
markdown
markupsafe
matplotlib
mistune
mkl
mock
mongomock
monotonic
moto
moviepy
mpc
mpfr
mpmath
msgpack
msgpack-python
mujoco-py
mysqlclient
nbconvert
nbformat
nccl
ncurses
networkx
ninja
nlohmann_json
nltk
nomkl
nose
nose-ignore-docstring
nose-timer
notebook
ntlm-auth
numba
numexpr
numpy
oauthlib
olefile
openblas
opencv
openpyxl
openssl
ordereddict
packaging
pandas
pandoc
pandocfilters
parameterized
paramiko
parso
partd
patsy
pbr
pcre
pendulum
pexpect
pickleshare
pillow
pinyin
pip
pixman
plotly
pomegranate
prettytable
prometheus_client
prompt_toolkit
protobuf
psutil
psycopg2
ptyprocess
py4j
pyaml
pyasn1
pyasn1-modules
pycosat
pycparser
pycryptodome
pycurl
pydot
pydotplus
pyglet
pygments
pygpu
pyhive
pyjwt
pymavlink
pymc3
pynacl
pyopengl
pyopenssl
pyparsing
pyqt
pyrsistent
pysftp
pysocks
pyspark
python
python-crfsuite
python-daemon
python-dateutil
python-editor
python-engineio
python-jose
python-nvd3
python-slugify
python-socketio
python-speech-features
python3-openid
pytorch
pytz
pytzdata
pywavelets
pywinrm
pyyaml
pyzmq
qds-sdk
qt
readline
rednose
requests
requests-mock
requests-ntlm
requests-oauthlib
requests-toolbelt
resampy
responses
rsa
ruamel_yaml
s3transfer
scikit-image
scikit-learn
scipy
seaborn
seekwell
send2trash
sentinels
setproctitle
setuptools
shapely
simplegeneric
simplewebsocketserver
sip
six
smart_open
smmap2
snakebite
snowballstemmer
snownlp
soundfile
sphinx
sphinx-argparse
sphinx-pypi-upload
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-httpdomain
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlalchemy
sqlite
sqlparse
statsmodels
sympy
system
tabulate
tenacity
tensorflow
terminado
termstyle
testpath
text-unidecode
theano
thrift
tk
toolz
torchvision
tornado
tqdm
traitlets
tweepy
twython
tzlocal
udacity-pa
unicodecsv
urllib3
util-linux
utm
uvloop
vega
vincent
wcwidth
webencodings
websocket-client
websockets
werkzeug
wheel
widgetsnbextension
wordcloud
wptools
wrapt
wtforms
x264
xeus
xeus-cling
xlrd
xmltodict
xorg-libxau
xorg-libxdmcp
xtl
xz
yaml
zeromq
zlib
zope-deprecation